@model  Graphbook.Contracts.IUserIdentity
@{
    Layout = null;
}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("GremlinBook", "Index", "Home", null, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @if (Model.IsAuthenticated)
                {
                    <li>@Html.ActionLink("Me", "Me", "Users")</li>
                }
                <li>@Html.ActionLink("Not me", "List", "Users")</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (Model.IsAuthenticated)
                {
                    <li><a href="@Url.Action("Me", "Users")"><span class="glyphicon glyphicon-user"></span> @string.Format("{0} {1}", Model.Name, Model.LastName)</a></li>
                }
                else
                {
                    <li><a href="/.auth/login/facebook?post_login_redirect_url=/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                }
            </ul>
        </div>
    </div>
</div>
